*.bat
*.log
*.pdb
*.suo
*.tmp
*.user
.vs
[Bb]in
[Dd]ebug
[Ll]og
[Oo]bj
[Rr]elease
[Rr]eleases
[Tt]est[Rr]esults
dist
node_modules
package-lock.json
/source/Web/Files/162a6f9f-0ce5-4938-8bad-9ddcc15dbf6d.jpg
